<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My Sample Suite" parallel = "tests" >
  <test name="Test Case A">
    <classes>
      <class name="testcases.TestA" ></class>
   </classes>
 </test>
<test name="Test Case B">
    <classes>
      <class name="testcases.TestB" ></class>
   </classes>
 </test>
<test name="Test Case C">
    <classes>
      <class name="testcases.TestC" ></class>
   </classes>
 </test>
</suite>